
<nav class="navbar">
  <ul>
    <div class="align-left">
      <li class="nav-logo"><a href="/adminHome"><img src="./assets/Home-Life-Banner.png" alt="Home Life - New Life Community Church, Peoria AZ"></a>
      </li>
      <li class="menu-button"><button><i class="fas fa-bars"></i></button></li>
    </div>
    <div class="align-right links closed">
      <li class="nav-item icon"><a href="/">Back Home</i></a></li>
    </div>
  </ul>
</nav>

<div class="nav-spacer"></div>