<footer>
  <h3 class="contact">INFO@NLCC.ORG</h3>
  <ul class="socials">
      <li><a href="https://www.facebook.com/mynlcconline/"><i class='fab fa-facebook-f'></i></a></li>
      <li><a href="https://www.instagram.com/mynlcconline/"><i class='fab fa-instagram'></i></a></li>
      <li><a href="/login"><i class='fas fa-edit'></i></a></li>
  </ul>
  <p>© NEW LIFE COMMUNITY CHURCH  |  PEORIA, AZ  |  623-486-3737</p>
</footer>