<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home Life - New Life Community Church</title>
  <meta name="description" content="On mission for Jesus, for people, and for community. NLCC Peoria provides a place for a diverse community of people to grow together.">
  <meta name="author" content="JD Blackman">

  <meta property="og:title" content="Home Life | NLCC | Peoria, AZ">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://home-life.herokuapp.com/">
  <meta property="og:description" content="On mission for Jesus, for people, and for community. NLCC Peoria provides a place for a diverse community of people to grow together.">
  <meta property="og:image" content="https://live.staticflickr.com/65535/51873203815_bd5dd436e5_h.jpg">

  <link rel="icon" href="./assets/HL-circle-logo.ico">
  <link rel="icon" href="./assets/HL-circle-logo.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="./assets/HL-circle-logo-white.png">

  <!-- css link -->
  <link rel="stylesheet" href="./styles/main.css">

  <!-- font awesome link -->
  <script src="https://kit.fontawesome.com/e61ab9568e.js" crossorigin="anonymous"></script>
  <!-- google icons link -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>