/* dark shades of primary color*/
$clr-primary-0: hsl(210, 60%, 21%);
$clr-primary-1: hsl(210, 60%, 29%);
$clr-primary-2: hsl(210, 60%, 37%);
$clr-primary-3: hsl(210, 60%, 45%);
$clr-primary-4: hsl(210, 60%, 52%); /* The primary/main color */
$clr-primary-5: hsl(210, 60%, 60%);
$clr-primary-6: hsl(210, 60%, 67%);
$clr-primary-7: hsl(210, 60%, 74%);
$clr-primary-8: hsl(210, 60%, 81%);
$clr-primary-9: hsl(210, 60%, 88%);
/* lighter shades of primary color */

/* dark shades of secondary color*/
$clr-secondary-0: hsl(30, 80%, 21%);
$clr-secondary-1: hsl(30, 80%, 29%);
$clr-secondary-2: hsl(30, 80%, 37%);
$clr-secondary-3: hsl(30, 80%, 45%);
$clr-secondary-4: hsl(30, 80%, 52%); /* secondary color */
$clr-secondary-5: hsl(30, 80%, 60%);
$clr-secondary-6: hsl(30, 80%, 67%);
$clr-secondary-7: hsl(30, 80%, 74%);
$clr-secondary-8: hsl(30, 80%, 81%);
$clr-secondary-9: hsl(30, 80%, 88%);
/* lighter shades of secondary color */

/* darkest grey - used for headings */
$clr-grey-0: hsl(210, 60%, 16%);
$clr-grey-1: hsl(210, 30%, 23%);
$clr-grey-2: hsl(210, 30%, 30%);
$clr-grey-3: hsl(210, 30%, 39%);
$clr-grey-4: hsl(210, 30%, 49%); /* grey used for paragraphs */
$clr-grey-5: hsl(210, 30%, 60%);
$clr-grey-6: hsl(210, 30%, 70%);
$clr-grey-7: hsl(210, 30%, 80%);
$clr-grey-8: hsl(210, 30%, 89%);
$clr-grey-9: hsl(210, 30%, 96%);
/* lightest grey - used for outlines */

/* Other Colors used */
$clr-white: #fff;
$clr-black: #222;
$clr-red-dark: hsl(360, 67%, 44%);
$clr-red-light: hsl(360, 71%, 66%);
$clr-green-dark: hsl(125, 67%, 44%);
$clr-green-light: hsl(125, 71%, 66%);
