$body-background: #f1f2f6;
$accent-blue: #003265;
$dark-background: #0a0d0f;

/* Other Colors used */
$clr-white: #fff;
$clr-black: #222;
$clr-red-dark: hsl(360, 67%, 44%);
$clr-red-light: hsl(360, 71%, 66%);
$clr-green-dark: hsl(125, 67%, 44%);
$clr-green-light: hsl(125, 71%, 66%);
