$body-background: #f1f2f6;
$accent-blue: #003265;
$accent-blue-light: #004891;
$accent-blue-dark: #002447;
$accent-blue-text: #0984e3;
$dark-background: #0a0d0f;
$transparent-dark: #0a0d0f66;

$image-background: rgba(0, 3, 15, 0.42);

$almost-black: #2d3436;
$almost-white: #dfe6e9;

/* Other Colors used */
$clr-white: #fff;
$clr-gray: #636e72;
$clr-black: #222;
$clr-red-dark: hsl(360, 67%, 44%);
$clr-red-light: hsl(360, 71%, 66%);
$clr-green-dark: hsl(125, 67%, 44%);
$clr-green-light: hsl(125, 71%, 66%);
