<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/adminHead'); %>
</head>
<body>
  <%- include('../partials/adminNavbar'); %>
  
  
  <section class="main-container">
    <h1 class="body-title">Welcome to the admin panel. where you can do stuff and things</h1>

    <div class="sections-container"></div>

  </section>

  <!-- axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../scripts/cardBuilder.js"></script>
</body>
</html>