<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

  <div class="forms-container">
    <form id="loginForm" action="/api/v1/user/login" method="post">
      <h1>Sign In</h1>
      <div class="inputs">
        <input type="text" name="username" id="username" autocomplete="on" placeholder="Username" required>
        <input type="password" name="password" id="password" autocomplete="on" placeholder="Password" required>
      </div>
  
      <button type="submit" class="login">Sign In</button>
      <button type="button" class="loginOption"><a href="/">Back to Home</a></button>
  
      <p class="form-error">There Has Been an Error</p>
    </form>
  </div>

</body>
</html>