<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
<body>
    <%- include('../partials/resourceNavbar'); %>
    
    <div id="container"></div>

    <%- include('../partials/footer'); %>
    
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- other js files -->
    <!-- <script src="./countdown.js"></script> -->
    <script src="../scripts/navbar.js"></script>
    <script src="../scripts/resourceBuilder.js"></script>
</body>
</html>