@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type='radio'] {
  vertical-align: text-bottom;
}

input [type='checkbox'] {
  vertical-align: bottom;
}

.ie7 input [type='checkbox'] {
  vertical-align: baseline;
}

.ie6 input[type='checkbox'] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type='button'],
input[type='submit'],
input[type='file'],
button {
  cursor: pointer;
}

button,
input[type='button'] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background: #f1f2f6;
  font-family: 'Roboto', 'sans-serif';
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.App {
  background-color: red;
}

.navbar {
  background-color: #003265;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: clamp(4rem, 8vw, 4.825rem);
}

.navbar * {
  max-height: 100%;
}

.navbar .align-right {
  margin-left: auto;
}

.navbar .align-let {
  margin-right: auto;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar ul li {
  padding: 0.75rem 0;
}

.navbar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 3vw;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.navbar ul .home-icon {
  font-size: 1.75rem;
}

footer {
  background-color: #0a0d0f;
  color: white;
  padding: 1.25rem;
  padding-top: 3.75rem;
}

footer * {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

footer .contact {
  letter-spacing: 3.5px;
  text-align: center;
  padding: 1rem;
  padding-top: 0;
  font-size: 1.25rem;
}

footer .socials {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

footer .socials li {
  margin: 0 5px;
  width: 2rem;
  height: 2rem;
  background-color: white;
  position: relative;
  border-radius: 50%;
}

footer .socials li a {
  position: absolute;
  inset: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

footer p {
  text-align: center;
  white-space: pre-wrap;
  letter-spacing: 1px;
  font-size: 11px;
  padding: 1rem;
}

.countdown {
  margin-block: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6rem;
  font-weight: 500;
  color: #1e272e;
}

.countdown .spacer {
  white-space: pre-wrap;
}

.countdown li {
  position: relative;
}

.countdown li::after {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 20px;
  font-size: 20px;
  color: #485460;
}

.countdown .days::after {
  content: 'days';
}

.countdown .hours::after {
  content: 'hours';
}

.countdown .minutes::after {
  content: 'minutes';
}

.countdown .seconds::after {
  content: 'seconds';
}
/*# sourceMappingURL=main.css.map */