.navbar {
	position: fixed;
	width: 100%;
	background-color: $accent-blue;
	z-index: 1;
	top: 0;
	ul {
		display: flex;
		justify-content: space-between;
		font-size: 1.25rem;
		max-height: 3.5rem;
		div {
			max-height: 3.5rem;
			display: flex;
			.nav-logo {
				padding: 0.25rem 1rem;
				flex-shrink: 0;
				img {
					height: 100%;
					width: 100%;
				}
			}
			.menu-button {
				display: none;
				visibility: hidden;
				button {
					background-color: transparent;
					color: $clr-white;
				}
			}
			.nav-item {
				display: block;
				color: $clr-white;
				font-weight: 500;
				text-decoration: none;
				padding: 1rem 1.5rem;
				width: max-content;
				cursor: pointer;
				&.link:hover {
					background-color: $transparent-dark;

					transition: background-color 100ms linear;
				}
				&.icon {
					padding: 0;
					a {
						padding: 1rem 1.5rem;
						display: block;
						color: $clr-white;
					}
				}
			}
			.title {
				display: grid;
				place-items: center;
			}
			.title a {
				padding: 1rem 0;
				font-size: 1.25rem; //1rem
				font-size: clamp(0.5rem, 4vw, 1.25rem);

				white-space: nowrap;
			}
		}
	}
}
@media screen and (max-width: 1024px) {
	.navbar ul {
		flex-direction: column;
		// background-color: $;
		height: 7rem;
		.menu-button {
			display: grid !important;
			visibility: visible !important;
			place-items: center;
			margin-left: auto;
			padding: 0 1rem;
			cursor: pointer;
			i {
				font-size: 2.5rem;
			}

			.fa-bars {
				transition: 150ms;
			}
			.open {
				transform: rotate(90deg);
				transform-origin: center;
			}
		}
		.links {
			flex-direction: column;
			.nav-item {
				background-color: $accent-blue-light;
				a {
					width: 100%;
				}
			}
			.link {
				background-color: $accent-blue-light;
			}
		}

		.links {
			transform: scaleY(1);

			transform-origin: top;
			transition: transform 200ms ease-in-out;
			.link {
				transition: opacity 100ms linear;
				transition-delay: 100ms;
			}
		}
		.links.closed {
			transform: scaleY(0);
			transition-delay: 100ms;
			.link {
				opacity: 0;
				transition-delay: 0ms;
			}
		}
	}
}
.nav-spacer {
	height: 3.5rem;
	background-color: red;
}
