.navbar {
	background-color: $accent-blue-light;
	display: flex;
	flex-direction: column;
	// height: clamp(4rem, 8vw, 4.825rem);

	* {
		max-height: 100%;
	}
	.fixed-head {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: clamp(4rem, 8vw, 4.825rem);

		background-color: $accent-blue;
		.logo {
			padding: 0.75rem 0;
			min-width: 100px;
			// padding: 0.75rem 0;
			height: 100%;
		}

		li {
			margin: 0 0.75rem;
		}

		.menu-button {
			display: grid;
			place-items: center;
			padding-inline: 1rem;
			padding: 0.75rem 0;
			.menu-icon {
				color: white;
				font-size: clamp(1.75rem, 9vw, 2.5rem);
				cursor: pointer;
			}
		}
	}
	.links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		place-items: center;
		li {
			padding-block: 1rem;
			font-size: clamp(1rem, 10vw, 1.25rem);
			a {
				color: white;
				text-decoration: white;
			}
			&.icon {
				padding-block: 0.25rem;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.desktop {
		display: none;
		visibility: hidden;
	}
}
